
page-home {
    .ion-md-share{
        color: #ed4248;
    }
    .ion-md-arrow-dropright-circle {
        color: #508AE4;
    }
    .ion-md-heart-outline {
        color: #31D55f;
    }
    .action-sheet-cancel ion-icon,
    .action.sheet-destructive ion-icon {
        color: #757575;
    }
}
